<div class="container">
  <h1>商品詳細</h1>
  <div class="row">
    <div class="mx-auto col-md-4">
      <%= image_tag @item.get_image(300,200) %>
    </div>
    <div class="col-md-7 offset-md-1">
      <table class="item-info">
        <tbody>
          <tr>
            <th>商品名</th>
            <th><%= @item.name %></th>
          </tr>
          <tr>
            <th>商品説明</th>
            <th><%= @item.introduction %></th>
          </tr>
          <tr>
            <th>
              税込価格(税抜価格)
            </th>
            <th>
              <%= @item.price %>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
