<h1>ジャンル編集</h1>
<table class="genre-create">
  <tbody>
    <tr>
      <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
        <td>ジャンル名</td>
        <td><%= f.text_field :name %></td>
        <td><%= f.submit '変更を保存' %></td>
      <% end %>
    </tr>
  </tbody>
</table>